img{
  height:103px;
  width:86px;
    margin top:0px;
}
.MainHeader{
  z-index: 2;
  position: absolute;
  display: block;
  margin-left: 75%;
}
.RetourFrise{
  background-color: #000000;
  color: white;
  padding: 6px 6px 6px 6px;
}
.Monney{
  background-color: #D8682A;
  color: white;

}
.logo{
  height: 110px;
  width: 92px;
  z-index: 1;
  position: absolute;
  margin-top: 0px;
  margin-left: 2.9%;
}
.FondVideo{
    position: fixed;
    top: 0;
    left: 0;
  }
  @media (min-aspect-ratio: 16/9) {
    .FondVideo {
      width: 100%;
      height: auto; /* En pratique : supérieur à la hauteur du viewport */
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .FondVideo {
      width: auto; /* En pratique : supérieur à la largeur du viewport */
      height: 100%;
    }
  }
